{% extends 'layout.html' %}



{% block content %}
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for category, msg in messages %}
                <p class="{{category}}">{{ msg }}</p>
            
            {% endfor %}
        {% endif %}
    {% endwith %}
<section class="container">
    <form class="form" method="POST">
        {{ form.csrf_token }}
        {{ form.name }}
        <fieldset>
            <div class="form-group">
                {{ form.question.label }}
                {% if form.question.errors %}
                    {{form.question (class="form-control")}}
                    {% for error in form.question.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                {% else %}
                    {{ form.question (class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.answers.label }}
                {% if form.answers.errors %}
                    {{form.answers (class="form-control")}}
                    {% for error in form.answers.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                {% else %}
                    {{ form.answers (class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.post (class="btn") }}
            </div>
            <input id="clear" class="form-control btn btn-red">
        </fieldset>
    </form>
</section>
{% endblock content %}