{% extends 'layout.html' %}



{% block content %}
<section>
    <form class="form" method="POST">
        {{ form.csrf_token }}
        {{ form.name }}
        <fieldset>
            
            <div class="form-group">
                {{form.subject.label}}
                {% if form.subject.errors %}
                    {{form.subject (class="form-control") }}
                    {% for error in form.subject.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                {% else %}
                    {{ form.subject (class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{form.year.label}}
                {% if form.year.errors %}
                    {{form.year (class="form-control") }}
                    {% for error in form.year.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                {% else %}
                    {{ form.year (class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.set_quiz (class="btn btn-block") }}
            </div>
            
            

            
            
            
        </fieldset>
        
        
    </form>
</section>


{% endblock content %}

