<!-- This is the html page that displays the available quizzes for the user to select from -->

{% extends 'layout.html' %}

{% block content %}
<main class="blog-list">
    {% for quiz in quizzes %}
        <article class="quiz-preview">
            <a href="{{ url_for('solve_questions', quiz_id=quiz.id) }}">
                <h2>{{ quiz.subject }}</h2>
                <p>Year: {{ quiz.year }}</p>
                <p>Written by {{ quiz.author.username }}</p>
            </a>    
        </article>
    {% endfor %}
</main>


{% endblock content %}